In [149]:
#List 

list=[20,21,2,14,25]
list1=["c","c#","python","java","dotnet"]
list2=[4.6,78.2,66.6,90.2]
list3=[60,"Hello",99.99,"H"]

print(list[1])                     #Positive Index
print(list1[4])
print(list2[3])
print(list3[0])
print(list[4],list1[2],list2[3],list3[0])

print("------------")

print(list[-1])                     #Negative Index
print(list2[-3])
print(list3[-2],list1[-3])
print(list1[-5])
print(list[-4],list1[-2],list2[-4],list3[-1])

21
dotnet
90.2
60
25 python 90.2 60
------------
25
78.2
99.99 python
c
21 java 4.6 H

In [158]:
#Slicing

colors=["white","black","pink","red","blue","yellow"]
numbers=[21,34,68,90.6,7,88.88]
characters=['H','J','K','A','T']

print(colors[1:6])
print(colors[2:4],numbers[1:],characters[:5])
print(characters[1:])
print(numbers[:4])
print(characters[1:4])

['black', 'pink', 'red', 'blue', 'yellow']
['pink', 'red'] [34, 68, 90.6, 7, 88.88] ['H', 'J', 'K', 'A', 'T']
['J', 'K', 'A', 'T']
[21, 34, 68, 90.6]
['J', 'K', 'A']

In [174]:
#List Operations

animals=["Dog","Cat","Lion","Cow","Buffalo"]
names=["Jayanthi","Sravani","Haritha","Divya","Kavitha","Valli"]
digits =[21,56,89,90,45]

print(animals+digits)                     #Concatination
print(names+digits+animals)
print(animals[1:4]+digits[2:5])
print(digits[1:6]+names)
print(names[1:5],digits[:4],animals[:])

print("------------")

print(digits*2)                         #Repitition
print(animals[1:4]*3)
print(animals*1,digits[1:4]*2)
print(digits[1:6]+names*2)
print(names[3:6]*2,digits*1,animals[2:5]*3)

['Dog', 'Cat', 'Lion', 'Cow', 'Buffalo', 21, 56, 89, 90, 45]
['Jayanthi', 'Sravani', 'Haritha', 'Divya', 'Kavitha', 'Valli', 21, 56, 89, 90, 45, 'Dog', 'Cat', 'Lion', 'Cow', 'Buffalo']
['Cat', 'Lion', 'Cow', 89, 90, 45]
[56, 89, 90, 45, 'Jayanthi', 'Sravani', 'Haritha', 'Divya', 'Kavitha', 'Valli']
['Sravani', 'Haritha', 'Divya', 'Kavitha'] [21, 56, 89, 90] ['Dog', 'Cat', 'Lion', 'Cow', 'Buffalo']
------------
[21, 56, 89, 90, 45, 21, 56, 89, 90, 45]
['Cat', 'Lion', 'Cow', 'Cat', 'Lion', 'Cow', 'Cat', 'Lion', 'Cow']
['Dog', 'Cat', 'Lion', 'Cow', 'Buffalo'] [56, 89, 90, 56, 89, 90]
[56, 89, 90, 45, 'Jayanthi', 'Sravani', 'Haritha', 'Divya', 'Kavitha', 'Valli', 'Jayanthi', 'Sravani', 'Haritha', 'Divya', 'Kavitha', 'Valli']
['Divya', 'Kavitha', 'Valli', 'Divya', 'Kavitha', 'Valli'] [21, 56, 89, 90, 45] ['Lion', 'Cow', 'Buffalo', 'Lion', 'Cow', 'Buffalo', 'Lion', 'Cow', 'Buffalo']

In [192]:
#List Methods
numbers =[20,21,45,99]
strings=["Apple","Banana","Grapes","Kiwi"]
float=[2.9,4.4,5.0]
characters=["H","H","K","J","U"]
names=["Jayanthi","Sravani","Haritha","Divya","Kavitha","Valli"]

numbers.append(10)                       #append
strings.append("Watermelon")
float.append(99.99)
characters.append("K")
names.append("Harika")

print(numbers)
print(strings)
print(float)
print(characters)
print(names)

[20, 21, 45, 99, 10]
['Apple', 'Banana', 'Grapes', 'Kiwi', 'Watermelon']
[2.9, 4.4, 5.0, 99.99]
['H', 'H', 'K', 'J', 'U', 'K']
['Jayanthi', 'Sravani', 'Haritha', 'Divya', 'Kavitha', 'Valli', 'Harika']

In [187]:

numbers =[20,21,45,99]                                      #extend                      
strings=["Apple","Banana","Grapes","Kiwi"]
float=[2.9,4.4,5.0]
characters=["H","H","K","J","U"]
names=["Jayanthi","Sravani","Haritha","Divya","Kavitha","Valli"]

numbers.extend(float)
names.extend(numbers)
strings.extend(names)
characters.extend(strings)
float.extend(numbers)

print(numbers)
print(names)
print(strings)
print(characters)
print(float)

[20, 21, 45, 99, 2.9, 4.4, 5.0]
['Jayanthi', 'Sravani', 'Haritha', 'Divya', 'Kavitha', 'Valli', 20, 21, 45, 99, 2.9, 4.4, 5.0]
['Apple', 'Banana', 'Grapes', 'Kiwi', 'Jayanthi', 'Sravani', 'Haritha', 'Divya', 'Kavitha', 'Valli', 20, 21, 45, 99, 2.9, 4.4, 5.0]
['H', 'H', 'K', 'J', 'U', 'Apple', 'Banana', 'Grapes', 'Kiwi', 'Jayanthi', 'Sravani', 'Haritha', 'Divya', 'Kavitha', 'Valli', 20, 21, 45, 99, 2.9, 4.4, 5.0]
[2.9, 4.4, 5.0, 20, 21, 45, 99, 2.9, 4.4, 5.0]

In [227]:
numbers =[20,21,45,99]                                      #insert                      
strings=["Apple","Banana","Grapes","Kiwi"]
float=[2.9,4.4,5.0]
characters=["H","H","K","J","U"]
names=["Jayanthi","Sravani","Haritha","Divya","Kavitha","Valli"]

numbers.insert(2,22)
strings.insert(0,"Dragon fruit")
float.insert(21,5.0)
characters.insert(4,"N")
names.insert(6,"Harika")

print(numbers)
print(strings)
print(float)
print(characters)
print(names)

[20, 21, 22, 45, 99]
['Dragon fruit', 'Apple', 'Banana', 'Grapes', 'Kiwi']
[2.9, 4.4, 5.0, 5.0]
['H', 'H', 'K', 'J', 'N', 'U']
['Jayanthi', 'Sravani', 'Haritha', 'Divya', 'Kavitha', 'Valli', 'Harika']

In [197]:
numbers =[20,21,45,99,20]                                      #remove                      
strings=["Apple","Banana","Grapes","Kiwi"]
float=[2.9,4.4,5.0]
characters=["H","H","K","J","U"]
names=["Jayanthi","Sravani","Haritha","Divya","Kavitha","Valli","Haritha"]

numbers.remove(20)
strings.remove("Kiwi")
float.remove(4.4)
characters.remove("H")
names.remove("Haritha")

print(numbers)
print(strings)
print(float)
print(characters)
print(names)

[21, 45, 99, 20]
['Apple', 'Banana', 'Grapes']
[2.9, 5.0]
['H', 'K', 'J', 'U']
['Jayanthi', 'Sravani', 'Divya', 'Kavitha', 'Valli', 'Haritha']

In [225]:
numbers =[20,21,45,99]                                      #pop                      
strings=["Apple","Banana","Grapes","Kiwi"]
float=[2.9,4.4,5.0]
characters=["H","H","K","J","U"]
names=["Jayanthi","Sravani","Haritha","Divya","Kavitha","Valli"]

numbers.pop(2)
strings.pop(-1)
float.pop()
characters.pop(0)
names.pop(3)

print(numbers)
print(strings)
print(float)
print(characters)
print(names)

[20, 21, 99]
['Apple', 'Banana', 'Grapes']
[2.9, 4.4]
['H', 'K', 'J', 'U']
['Jayanthi', 'Sravani', 'Haritha', 'Kavitha', 'Valli']

In [208]:
numbers =[20,21,45,99]                                      #index                      
strings=["Apple","Banana","Grapes","Kiwi"]
float=[2.9,4.4,5.0]
characters=["H","H","K","J","U"]
names=["Jayanthi","Sravani","Haritha","Divya","Kavitha","Valli"]

n1=numbers.index(20)
n2=strings.index("Kiwi")
n3=float.index(5.0)
n4=names.index("Valli")
n5=characters.index("H")
print(n1)
print(n2)
print(n3)
print(n4)
print(n5)

0
3
2
5
0

In [216]:
numbers =[20,21,45,99,20,20]                                      #count                      
strings=["Apple","Banana","Grapes","Kiwi"]
float=[2.9,4.4,5.0]
characters=["H","H","K","J","U"]
names=["Jayanthi","Sravani","Haritha","Divya","Kavitha","Valli"]

n1=numbers.count(20)
n2=strings.count("Grapes")
n3=float.count(5.0),float.count(4.4)
n4=characters.count("H")
n5=names.count("Sravani")
print(n1)
print(n2)
print(n3)
print(n4)
print(n5)

3
1
(1, 1)
2
1

In [223]:
numbers =[20,21,45,99]                                      #sort                      
strings=["Apple","Banana","Grapes","Kiwi"]
float=[2.9,4.4,5.0,1.45]
characters=["H","N","K","J","U"]
names=["Jayanthi","Sravani","Haritha","Divya","Kavitha","Valli"]

numbers.sort()
strings.sort()
float.sort()
characters.sort()
names.sort()
print(numbers)
print(strings)
print(float)
print(characters)
print(names)

print("-----------")

numbers.reverse()                                      #reverse
strings.reverse()
float.reverse()
characters.reverse()
names.reverse()
print(numbers)
print(strings)
print(float)
print(characters)
print(names)

[20, 21, 45, 99]
['Apple', 'Banana', 'Grapes', 'Kiwi']
[1.45, 2.9, 4.4, 5.0]
['H', 'J', 'K', 'N', 'U']
['Divya', 'Haritha', 'Jayanthi', 'Kavitha', 'Sravani', 'Valli']
-----------
[99, 45, 21, 20]
['Kiwi', 'Grapes', 'Banana', 'Apple']
[5.0, 4.4, 2.9, 1.45]
['U', 'N', 'K', 'J', 'H']
['Valli', 'Sravani', 'Kavitha', 'Jayanthi', 'Haritha', 'Divya']